*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#node_modules and bower_components and build stuff

node_modules/
bower_components
/website/SoC2016-Client/node_modules/
/website/SoC2016-Client/bower_components/
build/
website/SoC2016-Server/build/
website/SoC2016-Client/build/


#gradle things I don't want to commit
.gradle
.git
/Week_1/HelloWorld/nbproject/private/